@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


:root {
    --clr-primary-500: hsl(26, 100%, 55%);
    --clr-primary-100: hsl(25, 100%, 94%);
    --clr-neutral-900: hsl(0, 0%, 0%); /* 75% opacity for lightbox */
    --clr-neutral-800: hsl(220, 13%, 13%);
    --clr-neutral-600: hsl(219, 9%, 45%);
    --clr-neutral-300: hsl(220, 14%, 75%);
    --clr-neutral-150: hsl(223, 64%, 98%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-default: var(--clr-neutral-600);
    --clr-accent: var(--clr-primary-500);

    --ff-primary: 'Kumbh Sans', sans-serif;
    --fw-regular: 400; 
    --fw-bold: 700;
    --fs-400: 2rem; 
    --fs-300: 1.8rem;
    --fs-200: 1.125rem;
    --fs-100: 1rem;

    --block-border-radius: 0.5rem;
}

/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}


/*
2. Remove default margin
*/
* {
    margin: 0;
    padding: 0;
    font: inherit;
} 


/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
*/
body {
    line-height: calc(1em + 0.5rem);
    -webkit-font-smoothing: antialiased;
}


/*
5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    width: 100%;
}


/*
6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}


/*
7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}


/* 
8. Link reset 
*/
a {
    text-decoration: none; 
    color: currentColor;
}


/* 
9. Full height 
*/
html,
body {
    height: 100%;
}


/* 
10. Buttons reset 
*/
button {
    border: none;
    background: none;
}


/* Utility classes */
.accent-color {
    color: var(--clr-accent);
}


.accent-bg {
    background: var(--clr-accent);
}


.clr-neutral-900 {
    color: var(--clr-neutral-900);
}


.clr-neutral-800 {
    color: var(--clr-neutral-800);
}


.fw-regular {
    font-weight: var(--fw-regular);
}


.fw-bold {
    font-weight: var(--fw-bold);
}


.fs-xl {
    font-size: var(--fs-300);
}


.fs-2xl {
    font-size: var(--fs-400);
}


.text-uppercase {
    text-transform: uppercase;
}


.text-capitalize {
    text-transform: capitalize;
}


/* General styling */
body {
    font-family: var(--ff-primary);
    color: var(--clr-default);
}


.primary-header {
    --_padding-block: 1.5rem;
    --_padding-inline: 2rem;
    --_item-gap: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var(--_padding-block) var(--_padding-inline);
    padding-bottom: 2rem;

    border-bottom: 1px solid var(--clr-neutral-300);
}


/* Logo and primary navigation */
.primary-header__main {
    display: flex;
    gap: 2rem;
}


.primary-header__menu-button {
    width: 1rem;
    z-index: 1000;
    aspect-ratio: 1;

    background: url("images/icon-menu.svg") no-repeat;
    background-size: cover;

    display: none;
}


.primary-navigation {
    display: flex;
    gap: var(--_item-gap);

    list-style: none;
}


.profile-actions {
    display: flex;
    gap: var(--_item-gap);
}


.profile-actions__profile {
    width: 2.5rem;
}


/* Enable mobile navigation */
@media (max-width: 800px) {
    .primary-header__main {
        gap: 1.25rem;
    }


    .primary-header__menu-button {
        display: block;
    }


    .primary-navigation {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        
        position: fixed;
        z-index: 500;

        width: 12rem;
        min-height: 100vh;
        top: 0;
        left: 0;

        background-color: var(--clr-neutral-100);
        list-style: none;
        font-weight: var(--fw-bold);
        color: var(--clr-neutral-900);
    
        padding-left: var(--_padding-inline);
        padding-top: 5rem;

        transform: translateX(-100%);
    }
}


.main {
    width: min(500px, 100%);
    margin-inline: auto;
    padding-block: 4rem;
}


/* Product carousel and carousel navigation */
.product-preview {
    height: 350px;
}


.product-carousel {
    position: relative;
    height: 100%;
}


.product-carousel__track-container {
    position: relative;
    height: 100%;

    overflow-x: hidden;
}


.product-carousel__track {
    height: 100%;
    list-style: none;
    
    transition: transform .2s ease-in-out;
}


.product-carousel__image {
    height: 100%;
    object-fit: cover;
}


/* Makes every slide stack on each other. */
.product-carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}


.product-carousel__button {
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    
    width: 40px;
    aspect-ratio: 1;
    margin-inline: 1rem;

    background: var(--clr-neutral-100) url("images/icon-previous.svg") no-repeat;
    background-position: center;
    border-radius: 50%;
}


.product-carousel__button--right {
    background: var(--clr-neutral-100) url("images/icon-next.svg") no-repeat;
    background-position: center;
    right: 0;
}


.carousel-navigation {
    display: none;
    list-style: none;
}


.carousel-navigation__item {
    position: relative;
    width: 80px;

    border-radius: var(--block-border-radius);
    
    overflow: hidden;
    cursor: pointer;
}


.carousel-navigation__item--selected {
    outline: 2px solid var(--clr-accent);
}


.carousel-navigation__item--selected::before {
    content: "";
    position: absolute;
    inset: 0;

    background-color: var(--clr-neutral-150);
    opacity: 0.8;
}


/* Product information card */
.product-information {
    --_info-components-gap: 1.3rem;

    margin-inline: 1.5rem;
    padding-block: 1rem;
}


.product-information__header{
    display: grid;
    gap: var(--_info-components-gap)
}


.product-information__main {
    display: grid;
    gap: var(--_info-components-gap);

    margin-top: 1rem;
}


.product-information__price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.product-information__price {
    display: flex;
    align-items: center;
    gap: var(--_info-components-gap)
}


.product-information__price::after {
    content: attr(data-discount);

    font-size: var(--fs-100);
    color: var(--clr-accent);
    background-color: var(--clr-primary-100);
    border-radius: var(--block-border-radius);

    padding: 0.3rem 0.6rem;
}


.product-information__original-price {
    color: var(--clr-neutral-300);
}


/* Product purchase options */
.purchase-options {
    display: grid;
    gap: var(--_info-components-gap);
}


.quantity-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--clr-neutral-150);
    color: var(--clr-neutral-800);

    padding: 1rem 2rem;
    border-radius: var(--block-border-radius);
}


.cta-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-100);
    background-color: var(--clr-accent);

    border-radius: var(--block-border-radius);
    padding: 1rem 2rem;

    cursor: pointer;
}


.cta-button__icon {
    width: auto;
}


@media (min-width: 940px) {
    .main {
        display: flex;
        justify-content: space-around;
        align-items: center;

        width: min(1000px, 90%)
    }


    .product-preview {
        display: grid;
        gap: 1rem;

        height: auto;
        width: 400px;
        aspect-ratio: 1;

    } 


    .product-carousel {
        height: 350px;
    }


    .product-carousel__track-container {
        border-radius: var(--block-border-radius);
    }


    .product-carousel__button {
        display: none;
    }


    .carousel-navigation {
        display: flex;
        justify-content: space-between;
    }


    .product-information {
        width: 40%;
    }


    .product-information__price-container {
        display: grid;
    }
    
    
    .purchase-options {
        grid-template-columns: 1fr 1fr;
    }   
}

